body {
  margin: 0;
  padding: 0;
  background: #191414;

}

.login_conteiner1{display: flex;
flex-direction: column;
height: 100vh;
overflow-x: hidden;
}

.logo{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.imagem img{
  height: 42px;
  padding: 0px 0px 6px;
  width: 720px;
  height: 212px;
}

div{
  display: block;
}

.login{
  height: 100ch;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login__conteiner{
  width: 540px;
  height: 290px;
  margin-left: 10px;
  margin-top: -290px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 32px;
  border-radius: 9px;
}
.login__form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_input{
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 8px;
  border: unset;
  outline: none;
}

#email.login_input {
  width: 350px;
  height: 50px;
  margin-left: 20%;
  margin-right: 0%;
  margin-top: 0%;
  bottom: 0%;
  background: #E2E2E2;
  border-radius: 5px;
  display: inline-flex;
}

#password.login_input {
  width: 350px;
  height: 50px;
  margin-left: 20%;
  margin-right: 0%;
  margin-top: 8%;
  bottom: 0%;
  background: #E2E2E2;
  border-radius: 5px;

}

.login_input-border{
  margin-left: 30px;
  margin-top: -30px;
  height: 1px;
  width: 100%;
  margin-bottom: 16px;

}

.login_submit{
  margin-top: 50px;
  height: 40px;
  width: 449px;
  outline: none;
  background: #1B9245;
  background-size: 200%;
  margin-bottom: 32px;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  border: unset;
  border-radius: 4px;
  cursor: pointer;
  transition: .5s ease-in-out;
}


.login_reset{
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.credits p{
  box-sizing: border-box;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: inherit;
  font-weight: 900;
  text-align: center;
  color: #fff;

  margin-top: -100px;
  letter-spacing: 0em;}

